{% extends "base.html" %}

{% block header %}
{% block title %}League Winrates{% endblock title %}
{% endblock header %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Winrate 1</th>
        <th scope="col">Winrate 2</th>
        <th scope="col">Winrate 3</th>
    </tr>
    </thead>
    <tbody>
    {% for summoner in summoners %}
    <tr>
        <th>{{ summoner.name }}#{{ summoner.tagline }}</th>
        <td>{{ summoner }}</td>
        <td>s</td>
        <td>t</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}