{% extends "base.html" %}

{% block header %}
{% block title %}Champion Scouter{% endblock title %}
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="/model/converter/convert" method="POST" enctype="multipart/form-data" class="d-flex">
                <select class="form-select search-region" name="region">
                    <option value="Roblox">Roblox</option>
                </select>
                <input type="file" class="form-control upload_file" name="file" id="file">
                <button type="submit" class="btn btn-primary search-submit">Search</button>
            </form>
        </div>
    </div>
</div>
{% if summoner %}
<div class="summoner-header">
    <div class="summoner-icon-container">
        <img src="{{ url_for('static', filename='dragontail/13.12.1/img/profileicon/'+ summoner.profileIconId|string +'.png') }}"
         class="rounded-4 summoner-header-icon" height="85" width="85" alt="Profile Icon" loading="lazy"/>
    </div>
    <div class="summoner-header-info">
        <div class="summoner-header-name">{{ summoner.name }}</div>
    </div>
</div>
{% endif %}
{% endblock content %}
