{% extends "base.html" %}

{% block header %}
{% block title %}Update Valorant Event{% endblock title %}
{% endblock header %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control", size=32) }}
    </p>
    <p>
        {{ form.sign_up_end.label }}<br>
        {{ form.sign_up_end(class="form-control", id="datepicker", style="width: 200px;") }}
    </p>
    <p>
        {{ form.guess_end.label }}<br>
        {{ form.guess_end(class="form-control", id="datepicker", style="width: 200px;") }}
    </p>
    <p>
        {{ form.event_end.label }}<br>
        {{ form.event_end(class="form-control", id="datepicker", style="width: 200px;") }}
    </p>
    {% if current_user.is_admin %}
    {{ form.deleted.label(class="form-check-label") }}
    {{ with_errors(form.deleted, class='form-check-label') }}
    <br>
    {% endif %}
    <p>{{ form.submit(class="btn btn-primary") }}</p>
</form>
{% endblock content %}
