{% extends "base.html" %}

{% block header %}
{% block title %}Submit Guesses{% endblock title %}
{% endblock header %}

{% block content %}
<form action="" method="post">
    <div class="d-flex flex-wrap bd-highlight">
        {% for p in event.participants %}
        <!-- div class="container">
            <div role="group" aria-label="Basic radio toggle button group">
                {% for rank in possible_ranks %}
                <div class="row row-cols-sm-3">
                    <div class="tier">
                        <h3>{{ rank.name }}</h3>
                        {% if rank.is_apex %}
                        <label class="ranks">.
                            <input type="radio" name="radio" id="{{ rank.id }}_1" checked="checked">
                            <div class="checkmark">{{ rank.name }}</div>
                        </label>
                        {% else %}
                        <label class="ranks">
                            <input type="radio" name="radio" id="{{ rank.id }}_1">
                            <div class="checkmark">{{ rank.name }} I</div>
                        </label>
                        <label class="ranks">
                            <input type="radio" name="radio" id="{{ rank.id }}_2">
                            <div class="checkmark">{{ rank.name }} II</div>
                        </label>
                        <label class="ranks">
                            <input type="radio" name="radio" id="{{ rank.id }}_3">
                            <div class="checkmark">{{ rank.name }} III</div>
                        </label>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div -->
        <div class="card m-3" style="width: 18rem;">
            <div class="body m-3">
                <h5 class="card-title">{{ p.get_user().riot_id }}</h5>
                <p class="card-text"><a
                        href="https://tracker.gg/valorant/profile/riot/{{ p.get_user().get_riot_id_for_url() }}/overview"
                        target="_blank">Tracker</a></p>
                <select class="form-select" name="{{ p.id }}_rank">
                    <option value="" disabled selected>Select a rank</option>
                    {% for rank in possible_ranks %}
                    {% if rank.is_apex %}
                    <option value="{{ rank.id }}_1" {{
                    'selected' if (participant.get_guess_id(p) == (rank.id|string) + "_1") else '' }}>{{ rank.name
                    }}</option>
                    {% else %}
                    <option value="{{ rank.id }}_1" {{
                    'selected' if (participant.get_guess_id(p) == (rank.id|string) + "_1") else '' }}>{{ rank.name }}
                    I</option>
                    <option value="{{ rank.id }}_2" {{
                    'selected' if (participant.get_guess_id(p) == (rank.id|string) + "_2") else '' }}>{{ rank.name }}
                    II</option>
                    <option value="{{ rank.id }}_3" {{
                    'selected' if (participant.get_guess_id(p) == (rank.id|string) + "_3") else '' }}>{{ rank.name }}
                    III</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Submit Guesses</button>
</form>
{% endblock content %}
