{% extends "base.html" %}

{% block header %}
{% block title %}Register{% endblock title %}
{% endblock header %}

{% block content %}
<form method="post" action={{ url_for('register') }}>
    <div class="mb-3">
        {{ form.email.label }}:
        {{ form.email(class="form-control")}}
    </div>
    <div class="mb-3">
        {{ form.username.label }}:
        {{ form.username(class="form-control")}}
    </div>
    <div class="mb-3">
        {{ form.discord.label }}:
        {{ form.discord(class="form-control")}}
    </div>
    <div class="mb-3">
        {{ form.display_name.label }}:
        {{ form.display_name(class="form-control")}}
    </div>
    <div class="mb-3">
        {{ form.password.label }}:
        {{ form.password(class="form-control")}}
    </div>
    <div class="mb-3">
        {{ form.password_confirm.label }}:
        {{ form.password_confirm(class="form-control")}}
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div class="mb-3">
        Already have an account?
        <a href={{ url_for('login') }}>Sign in</a>
    </div>
</form>
{% endblock content %}