{% extends "base.html" %}

{% block header %}
{% block title %}Add Server{% endblock title %}
{% endblock header %}

{% block content %}
<form method="post" action={{ url_for('server_add') }}>
    <div class="mb-3">
        {{ form.game.label }}:
        {{ form.game(class="form-control")}}
    </div>
    <div class="mb-3">
        {{ form.name.label }}:
        {{ form.name(class="form-control")}}
    </div>
    <div class="mb-3">
        {{ form.ip.label }}:
        {{ form.ip(class="form-control")}}
    </div>
    <div class="mb-3">
        {{ form.description.label }}:
        {{ form.description(class="form-control")}}
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock content %}