<html>

<head>
    <link href="{{ url_for('static', filename='css/base.css')}}" rel="stylesheet" />
    <script type="text/javascript" src={{ url_for('static', filename='script/script.js') }}></script>
</head>
<!-- The text field -->

<body>
    <input type="text" value="Hello World" id="myInput">

    <div class="tooltip">
        <button onclick="myFunction('myInput', 'myTooltip')" onmouseout="outFunc('myTooltip')">
            <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
            Copy text
        </button>
    </div>
</body>

</html>